<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BrazilSoundType</key>
	<string>aif</string>
	<key>BrazilSound</key>
	<string>forvo_en_254088</string>
	<key>0</key>
	<string>Brazil</string>
</dict>
</plist>
